<div class="container">
	<div class="row vh-100">
		<div class="col">
			<div class="weather-card one">
				<div class="top">
					
				</div>
                <br>
				<div class="bottom">
					<div class="wrapper">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">View Employees</a>
                          </div>
					</div>
				</div>
			</div>
		</div>


    
		<div class="col">
			<div class="weather-card rain">
				<div class="top">
					
				</div>
                <br>
				<div class="bottom">
					<div class="wrapper">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
					</div>
			</div>
		</div>
	</div>
</div>